
.products-list-container{
    padding: 0 30px;
    .products{
        margin: 0 auto;
        h3{
            color: #006A4E;
            text-align: center;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0.88px;
            text-transform: capitalize;
        }
        .product-center{
            display: flex;
            justify-content: center;
            align-items: center;

        }
        .product-grid{
            display: grid;
            grid-template-columns: 1fr  1fr  1fr;
            gap: 13px;
            .product-row{
                margin-top: 10px;
            }
        }
    }
    
}



